body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  
.signin-background{
  min-height: 100vh; /* Full viewport height */
  background: url('../public/background5.png') no-repeat center center / cover, rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
}


